{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#" >{{ post.auteurs }}</a>
              <small class="text-muted">{{ post.date_publication }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.titre }}</a></h2>
            </div>
        </article>
    {% endfor %}
{% endblock content %}